{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!-- Main -->
  <section id="main">
    <header>
      <span class="avatar"><img src="{% static 'address/images/avatar.jpg' %}" alt="" /></span>
      <h1>Sacha Evans</h1>
      <p>Goat Sound Engineer</p>
      <div id="payment">
        <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{ address }}" /></br>
        <small><a style="text-transform:none;letter-spacing:0;" href="bitcoin:{{ address }}?label=SachaEvans">{{ address }}</a></small>
      </div>
    </header>
  <hr />
  <h3>Gimme teh monay !</h3>
  </section>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    // Note that the path doesn't matter for routing; any WebSocket
    // connection gets bumped over to WebSocket consumers
    socket = new WebSocket('ws://' + window.location.host + '/{{ address }}/')

    socket.onmessage = function(e) {
      if (e.data === 'payment_received') {
        document.getElementById('payment').innerHTML ='<small style="text-transform:none;letter-spacing:0;"> We have recieved your payment ! Thanks you ! </small>'
      }

    }

    socket.onerror = function(err) {
      console.error(err)
    }

  </script>
{% endblock %}
